*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 58em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 37%;
  }
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: white;
  font-weight: 300;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(2rem, 1fr) (minmax(min-content, 1fr))[6] minmax(2rem, 1fr);
      grid-template-columns: minmax(2rem, 1fr) repeat(6, minmax(-webkit-min-content, 1fr)) minmax(2rem, 1fr);
      grid-template-columns: minmax(2rem, 1fr) repeat(6, minmax(min-content, 1fr)) minmax(2rem, 1fr);
  -ms-grid-rows: minmax(6rem, 8rem) max-content max-content max-content;
      grid-template-rows: minmax(6rem, 8rem) -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-rows: minmax(6rem, 8rem) max-content max-content max-content;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
}

@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.navbar {
  margin-top: 2rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar_logo {
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
  background-image: url("../Assets/Logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar_options a {
  padding: 1rem;
  font-size: 1.5rem;
  color: black;
  opacity: 0.8;
  outline: none;
  text-decoration: none;
}

.navbar_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar_login .login_btn {
  margin-right: 1rem;
  border-radius: 40rem;
  background-color: white;
  color: black;
  border: 2px solid white;
  padding: 0.5rem 2rem;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  -webkit-transform-origin: center;
          transform-origin: center;
  position: relative;
  border: 2px solid black;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@media only screen and (max-width: 37.5em) {
  .navbar_login .login_btn {
    display: none;
    opacity: 0;
  }
}

.navbar_login .login_btn:hover {
  color: white;
  background-color: black;
  -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
}

.navbar_login .signup_btn {
  border-radius: 40rem;
  background-color: white;
  color: #f53838;
  border: 2px solid #f53838;
  padding: 0.5rem 2rem;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.navbar_login .signup_btn:hover {
  color: white;
  background-color: #f53838;
  -webkit-box-shadow: 0 1rem 4rem rgba(245, 56, 56, 0.3);
          box-shadow: 0 1rem 4rem rgba(245, 56, 56, 0.3);
}

.world {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / 9;
  margin: 8rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.world_picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

.world_img {
  height: 38.5vw;
}

.cards {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  width: 100%;
  margin: 0 auto;
  padding: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1rem;
}

.card {
  border-radius: 3rem;
  padding: 4rem 1rem;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  border: 2px solid rgba(128, 128, 128, 0.3);
}

.card_bestvalue {
  border: 2px solid rgba(245, 56, 56, 0.3);
}

.card:hover .card-btn {
  color: white;
  background-color: #f53838;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(245, 56, 56, 0.3);
          box-shadow: 0 1.5rem 4rem rgba(245, 56, 56, 0.3);
}

.card:hover {
  border: 2px solid #f53838;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(245, 56, 56, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(245, 56, 56, 0.2);
}

.card > * {
  margin-bottom: 2rem;
}

.card-img_picture {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-img_img {
  height: 100%;
}

.card-heading {
  font-size: 2rem;
  font-weight: 500;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card-list > * {
  margin-bottom: 0.5rem;
}

.card-list_item {
  font-size: 1.6rem;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.card-price {
  font-size: 3.6rem;
  font-weight: 400;
}

.card-price span {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.6);
}

.card-btn {
  border-radius: 40rem;
  background-color: white;
  color: #f53838;
  border: 2px solid #f53838;
  padding: 0.6rem 3.5rem;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1 / 10;
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12 / 13;
  background-color: #f6f6f6;
  margin: -15rem 0;
  z-index: -100;
  padding: 15rem 0 6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-first > * {
  margin-bottom: 2rem;
}

.footer-first > img {
  height: 5rem;
}

.footer-first-text {
  width: 30rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.footer-first-tm {
  width: 30rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.footer-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-second > .btn {
  border: none;
  outline: none;
  font-size: 1.6rem;
  color: #f53838;
  margin: 1rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: white;
}

.footer-second > .btn:hover {
  color: white;
  background-color: #f53838;
}

.header {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  margin: 5rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "content image";
  gap: 4rem;
}

@media only screen and (max-width: 58em) {
  .header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "image" "content";
    gap: 0;
  }
}

.header .content-box {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 1.4;
}

.header .content-box > * {
  margin-bottom: 2.5rem;
}

.header .content-box_paragraph {
  font-size: 1.6rem;
  font-weight: 300;
  padding: 0 4rem 0 0;
}

.header .content-box_btn {
  margin-top: 1.5rem;
  font-weight: 400;
  font-size: 1.8rem;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  background-color: #f53838;
  outline: none;
  padding: 1rem 4rem;
  border-radius: 1rem;
  border: 2px solid #f53838;
  -webkit-box-shadow: 0 1rem 4rem rgba(245, 56, 56, 0.6);
          box-shadow: 0 1rem 4rem rgba(245, 56, 56, 0.6);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.header .content-box_btn:hover {
  -webkit-box-shadow: 0 0 0 white;
          box-shadow: 0 0 0 white;
  background-color: white;
  color: #f53838;
  border: 2px solid #f53838;
}

.header .image-box {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
}

.header .image-box .image-box_picture {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .image-box .image-box_img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 58em) {
  .header .image-box .image-box_img {
    height: 85%;
    width: 85%;
  }
}

.infos {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  padding: 1rem 0;
  background-color: white;
  border-radius: 2rem;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (max-width: 37.5em) {
  .infos {
    padding-bottom: 1.5rem;
  }
}

.infos .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .infos .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.infos .info_paragraph {
  font-size: 1.5rem;
  margin-left: 0;
}

.infos .info_img {
  margin: 2rem;
  padding: 5px;
  border-radius: 100px;
  shape-outside: circle(50% at 50% 50%);
}

@media only screen and (max-width: 37.5em) {
  .infos .info_img > img {
    height: 6rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .infos .info_img {
    padding: 0;
    border: none;
    margin: 1rem;
  }
  .infos .info_img > img {
    height: 6rem;
  }
}

.heading-tertiary {
  font-size: 2.5rem;
  font-weight: 400;
}

.description {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  margin-top: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'image content';
  gap: 4rem;
}

@media only screen and (max-width: 58em) {
  .description {
    margin-top: 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr min-content;
        grid-template-rows: 1fr -webkit-min-content;
        grid-template-rows: 1fr min-content;
        grid-template-areas: 'image' 'content';
    row-gap: 2rem;
  }
}

.description .image-box {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
}

.description .image-box .image-box_picture {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description .image-box .image-box_img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 58em) {
  .description .image-box .image-box_img {
    height: 85%;
    width: 85%;
  }
}

.description .content-box {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0rem 8rem;
}

@media only screen and (max-width: 37.5em) {
  .description .content-box {
    padding: 0rem 4rem;
  }
}

.description .content-box > * {
  margin-bottom: 2rem;
}

.description .content-box_paragraph {
  font-size: 1.7rem;
  font-weight: 400;
}

.description .content-box-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.description .content-box-list > * {
  margin-bottom: 0.5rem;
}

.description .content-box-list_item {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.description .content-box-list_item::before {
  margin: 0 1rem;
  content: url("../Assets/tick.svg");
  display: inline;
}

.cards-heading {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  margin-top: 5rem;
  padding: 5rem 5rem 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cards-heading > * {
  padding-bottom: 2rem;
}

.cards-heading .paragraph {
  font-size: 1.6rem;
}

@media only screen and (max-width: 37.5em) {
  .cards-heading {
    padding: 2rem 0 0 0;
  }
}

.world-heading {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
  margin-top: 5rem;
  padding: 5rem 5rem 0 5rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.world-heading > * {
  padding-bottom: 2rem;
}

.world-heading .paragraph {
  font-size: 1.6rem;
}

@media only screen and (max-width: 37.5em) {
  .world-heading {
    padding: 2rem 0 0 0;
  }
}

.customer-heading {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9 / 10;
  margin-top: 2rem;
  padding: 5rem 5rem 0 5rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer-heading > * {
  padding-bottom: 2rem;
}

.customer-heading .paragraph {
  font-size: 1.6rem;
}

@media only screen and (max-width: 37.5em) {
  .customer-heading {
    padding: 2rem 0 0 0;
  }
}

.heading-tertiary {
  font-size: 3rem;
  font-weight: 500;
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: capitalize;
}

.primary-heading {
  font-size: 4rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.6;
}

.primary-heading span {
  border-bottom: 2px solid #f53838;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: center;
          transform-origin: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(60deg, #e21143, #ffb03a);
}

.customer-cards {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10 / 11;
  width: 100%;
  margin: 3rem auto;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(28rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 1.5rem;
}

.customer-card {
  border-radius: 1rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: white;
  border: 2px solid rgba(128, 128, 128, 0.3);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.customer-card:hover {
  border: 2px solid #f53838;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(245, 56, 56, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(245, 56, 56, 0.2);
}

.customer-card .row-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.customer-card .row-first > img {
  height: 4rem;
  width: 4rem;
  border-radius: 100px;
  shape-outside: circle(50% at 50% 50%);
  margin: 1rem;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border: 2px solid #f53838;
}

.customer-card .row-first .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 auto 0 1rem;
}

.customer-card .row-first .name-second {
  font-size: 1.2rem;
  font-weight: 400;
}

.customer-card .row-first .rating {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  font-size: 1.4rem;
}

.customer-card .row-second {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.2rem;
}

.subscribe {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11 / 12;
  padding: 4rem;
  margin: 4rem auto 6rem auto;
  background-color: white;
  border-radius: 2rem;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.subscribe-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-right: 2rem;
}

.subscribe-heading-first {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0;
}

.subscribe-heading-second {
  font-size: 1.6rem;
  font-weight: 400;
}

.subscribe-btn {
  margin: 1.5rem 0;
  font-weight: 400;
  font-size: 1.8rem;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  background-color: #f53838;
  outline: none;
  padding: 1rem 4rem;
  border-radius: 1rem;
  border: 2px solid #f53838;
  -webkit-box-shadow: 0 1rem 4rem rgba(245, 56, 56, 0.2);
          box-shadow: 0 1rem 4rem rgba(245, 56, 56, 0.2);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.subscribe-btn:hover {
  -webkit-box-shadow: 0 0 0 white;
          box-shadow: 0 0 0 white;
  background-color: white;
  color: #f53838;
  border: 2px solid #f53838;
}
/*# sourceMappingURL=style.css.map */