// * Variables
$primary-red: #f53838;
$back-red: #ffecec;
$back-card: #f8f8f8;
$background-color: #f6f6f6;

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;

	// *  1 rem : 10px

	@include respond(big-desktop) {
		// *1 rem : 12px  beyond 1200
		font-size: 75%;
	}

	@include respond(tab-land) {
		// *1 rem : 9px  1200px
		font-size: 56.25%;
	}

	@include respond(tab-port) {
		// *1 rem : 8px  900px
		font-size: 50%;
	}

	@include respond(phone) {
		// *1 rem : 6px 600px
		font-size: 37%;
	}
}

body {
	font-family: 'Rubik', sans-serif;
	background-color: white;
	font-weight: 300;
	// line-height: 1.6;
}

.container {
	display: grid;
	grid-template-columns: minmax(2rem, 0.5fr) repeat(6, minmax(min-content, 1fr)) minmax(2rem, 0.5fr);
	grid-template-rows: minmax(6rem, 8rem) max-content max-content max-content;
	grid-auto-rows: max-content;
}

// .container {
//     display: grid;
//     grid-template-columns:
//         minmax(6rem, 1fr) repeat(8, minmax(min-content, 15rem))
//         minmax(6rem, 1fr);
//     grid-template-rows: minmax(6rem, 8rem) max-content max-content max-content;
//     grid-auto-rows: max-content;
// }
