.customer {
	&-cards {
		grid-column: 2 / 8;
		grid-row: 10 / 11;
		width: 100%;
		margin: 3rem auto;
		padding: 1rem;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
		gap: 1.5rem;
	}

	&-card {
		border-radius: 1rem;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background-color: white;
		border: 2px solid rgba($color: grey, $alpha: 0.3);

		.row {
			&-first {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				width: 100%;

				& > img {
					height: 4rem;
					width: 4rem;
					border-radius: 100px;
					shape-outside: circle(50% at 50% 50%);
					margin: 1rem;
					box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.1);
				}

				& .name {
					display: flex;
					flex-direction: column;
					justify-content: start;
					align-items: flex-start;
					font-size: 1.5rem;
					font-weight: 500;
					margin: 0 auto 0 1rem;

					&-second {
						font-size: 1.2rem;
						font-weight: 400;
					}
				}

				& .rating {
					text-align: center;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0 1rem;
					font-size: 1.4rem;
				}
			}

			&-second {
				margin-top: 1rem;
				display: flex;
				flex-direction: row;
				justify-content: start;
				font-size: 1.3rem;
				font-weight: 400;
			}
		}
	}
}
