.cards-heading {
	grid-column: 2 / 8;
	grid-row: 5 / 6;
	margin-top: 5rem;
	padding: 5rem 5rem 0 5rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	& > * {
		padding-bottom: 2rem;
	}

	& .paragraph {
		font-size: 1.6rem;
	}

	@include respond(phone) {
		padding: 2rem 0 0 0;
	}
}

.world-heading {
	grid-column: 2 / 8;
	grid-row: 7 / 8;
	margin-top: 5rem;
	padding: 5rem 5rem 0 5rem;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& > * {
		padding-bottom: 2rem;
	}

	.paragraph {
		font-size: 1.6rem;
	}

	@include respond(phone) {
		padding: 2rem 0 0 0;
	}
}

.customer-heading {
	grid-column: 2 / 8;
	grid-row: 9 / 10;
	margin-top: 2rem;
	padding: 5rem 5rem 0 5rem;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& > * {
		padding-bottom: 2rem;
	}

	.paragraph {
		font-size: 1.6rem;
	}

	@include respond(phone) {
		padding: 2rem 0 0 0;
	}
}

.heading-tertiary {
	font-size: 3rem;
	font-weight: 500;
}

.heading-secondary {
	font-size: 3.5rem;
	font-weight: 400;
	text-transform: capitalize;
}

.primary-heading {
	font-size: 4rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 1.6;
	transition: all 0.5s;

	// &:hover {
	// 	transform: skew(5deg, 1deg);
	// }

	span {
		// border-bottom: 2px solid $primary-red;
		font-weight: 600;
		transition: all 0.3s ease;
		transform-origin: center;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		background-image: linear-gradient(60deg, #e21143, #ffb03a);
		position: relative;

		&:hover::after {
			transform: scaleX(1);
			transform-origin: center;
		}

		&::after {
			content: '';
			background-image: linear-gradient(to right, $primary-red, #d57eeb);
			position: absolute;
			height: 2px;
			width: 100%;
			bottom: 0;
			left: 0;
			transform: scaleX(0);
			transition: all 0.4s ease;
		}

		// background: linear-gradient(rgba($color: black, $alpha: 1), rgba($color: black, $alpha: 1));
		// background-clip: text;
		// -webkit-text-fill-color: transparent;
	}
}
