.header {
	grid-column: 2 / 8;
	grid-row: 2 / 3;
	margin: 5rem 0;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "content image";
	gap: 4rem;

	@include respond(tab-port) {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "image" "content";
		gap: 0;
	}

	.content-box {
		grid-area: content;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		line-height: 1.4;
		animation: fade-left 1s ease 0.8s;
		animation-fill-mode: both;

		& > * {
			margin-bottom: 2.5rem;
		}

		&_paragraph {
			font-size: 1.8rem;
			font-weight: 300;
			padding: 0 4rem 0 0;
		}

		&_btn {
			margin-top: 1.5rem;
			font-weight: 400;
			font-size: 1.8rem;
			text-decoration: none;
			text-transform: capitalize;
			color: white;
			background-color: $primary-red;
			outline: none;
			padding: 1rem 4rem;
			border-radius: 1rem;
			border: 2px solid $primary-red;
			box-shadow: 0 1rem 4rem rgba($color: $primary-red, $alpha: 0.6);
			transition: all 0.3s ease-in;
			backface-visibility: hidden;
			// border: 1px solid white;

			&:hover {
				box-shadow: 0 0 0 rgba($color: white, $alpha: 1);
				background-color: white;
				color: $primary-red;
				border: 2px solid $primary-red;
			}
		}
	}

	.image-box {
		grid-area: image;
		animation: fade-down 1s ease 0.4s;
		animation-fill-mode: both;

		.image-box_picture {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.image-box_img {
			height: 100%;
			width: 100%;

			@include respond(tab-port) {
				height: 85%;
				width: 85%;
				// margin-bottom: -8rem;
			}
		}
	}
}
