.navbar {
	margin-top: 2rem;
	grid-column: 2 / 8;
	grid-row: 1 / 2;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	&_menu {
		height: 1.2rem;
		display: none;
		opacity: 0;

		@include respond(tab-port) {
			display: inline;
			opacity: 100%;
		}
	}

	&_logo {
		height: 6rem;
		width: 20rem;
		background-image: url('../Assets/Logo.svg');
		background-size: 100%;
		background-repeat: no-repeat;
	}

	&_options {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		a {
			padding: 1rem;
			font-size: 1.5rem;
			color: black;
			opacity: 0.8;
			outline: none;
			text-decoration: none;
			position: relative;

			&:hover {
				color: $primary-red;
			}

			// //* Special Animation
			&:hover::after {
				transform: scaleX(1);
				transform-origin: center;
			}

			&::after {
				content: '';
				background-image: linear-gradient(to right, $primary-red, #d57eeb);
				position: absolute;
				height: 1.5px;
				width: 100%;
				bottom: 0;
				left: 0;
				transform: scaleX(0);
				transition: all 0.4s ease;
			}
		}

		@include respond(tab-port) {
			display: none;
			opacity: 0;
		}
	}

	&_login {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.login_btn {
			margin-right: 1rem;
			border-radius: 40rem;
			background-color: white;
			color: black;
			padding: 0.6rem 2rem;
			text-decoration: none;
			font-size: 1.6rem;
			font-weight: 500;
			transform-origin: center;
			position: relative;
			background-size: 220%;
			background-image: linear-gradient(115deg, transparent 0%, transparent 50%, black 50%);
			transition: all 0.5s ease;
			// border: 2px solid black;

			@include respond(phone) {
				display: none;
				opacity: 0;
			}

			&:hover,
			&:active {
				background-position: 100%;
				color: white;
			}

			// &:hover {
			// 	color: white;
			// 	background-color: black;
			// 	box-shadow: 0 1rem 4rem rgba($color: black, $alpha: 0.1);
			// }
		}

		.signup_btn {
			border-radius: 40rem;
			background-color: white;
			color: $primary-red;
			border: 3px solid $primary-red;
			padding: 0.6rem 2rem;
			text-decoration: none;
			font-size: 1.6rem;
			font-weight: 500;
			background-size: 220%;
			background-image: linear-gradient(115deg, transparent 0%, transparent 50%, $primary-red 50%);
			transition: all .5s ease;

			// &:hover {
			// 	color: white;
			// 	background-color: $primary-red;
			// 	box-shadow: 0 1rem 4rem rgba($color: $primary-red, $alpha: 0.1);
			// }

			&:hover,
			&:active {
				background-position: 100%;
				color: white;
			}
		}
	}
}
