.world {
    grid-column: 2 / 10;
    grid-row: 8 / 9;
    margin: 8rem 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    &_picture {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;
    }

    &_img {
        height: 40vw;
    }
}
